{% extends 'base.html'%}
{% load static %}
{% block content %}

<section id="commission-info" class="container my-5">
  <div class="row">
      <!-- Information on Commissioning an Oil Painting -->
      <div class="col-md-6 mb-4">
          <h2>Would you like to commission a unique, personalized oil painting?</h2>
          <p>
              {{description.description}}
          </p>
          <p>
            If you want to check out my previously ordered works, please visit the gallery section.
          </p>
          <div class="text-center mt-4">
            <a href="{% url 'order_list'%}" class="btn btn-brown">Refer to previous orders</a>
        </div>
      </div>

      <!-- Commissioning Form -->
      <div class="col-md-6 mb-4">
          <h3>Fill in Your Details</h3>
          
          <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="mb-3">
                  <label for="description" class="form-label">Approximate Description</label>
                  {% comment %} <textarea id="description" name="description" class="form-control" rows="4" placeholder="Describe your desired painting"></textarea> {% endcomment %}
                  {{form.description}}
              </div>
              <div class="mb-3">
                  <label for="reference-picture" class="form-label">Reference Picture (Portraits desired)</label>
                  {% comment %} <input type="file" id="reference-picture" name="reference-picture" class="form-control"> {% endcomment %}
                  {{form.sample_photo}}
              </div>
              <div class="mb-3">
                  <label for="wanted-size" class="form-label">Wanted Size</label>
                  {{form.wanted_size}}
              </div>
              <div class="mb-3">
                  <label for="style" class="form-label">Style</label>
                  {{form.style}}
              </div>
              <div class="mb-3">
                <label for="email-phone" class="form-label">Your Name</label>
                {{form.user_name}}
              </div>
              <div class="mb-3">
                  <label for="email-phone" class="form-label">E-mail or phone number</label>
                  {{form.email_or_phone_number}}
              </div>
              <button type="submit" class="btn btn-brown">Submit commission request</button>
          </form>
      </div>
  </div>
</section>

{% endblock %}